@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

*{
    /*border:  red solid 1px;
    /*background-color: rgb(0, 40, 40);*/
    font-family: 'Roboto', sans-serif;;
}

/* TOP SECTION */

body {
    margin: auto;
}

.upper_part{
    background-color: #1f2937;
}

.upper_part ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 10px 0px;
    gap: 20px;
    margin: 0px 400px;
    align-items: center;
    font-size: 18px;
    color: #e5e7eb;
}

#logo {
    font-size: 24px;
    color: #f9faf8;
    margin-right: auto;
    font-weight: bolder;
    
}

.main_banner {
    display: flex;
    margin: 0px 401px;
    height: 400px;
    align-items: center;
}

p, h1, button{
    margin: 5px 0px;
}

.main_banner div{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    margin-right: 50px;

}

.main_banner h1 {
    font-size: 48px;
    color: #f9faf8;
}

.main_banner p {
    font-size: 18px;
    color: #e5e7eb;
}

button {
    background-color: #3882f6;
    color: #e5e7eb;
    padding: 6px 35px;
    border-radius: 7px;
    font-size: 18px;
    font-weight: 700;
    border-style: none;
}

/* END OF TOP PART */

/* START MIDDLE PART */

.center_part > div.information {
    margin: 0px 401px;
}

.center_part h1 {
    font-size: 36px;
    font-weight: bolder;
    margin: 40px 0px;
    padding: 0px;
    text-align: center;
}

.center_part .boxes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 66px;
    font-size: 18px;
    font-weight: 300;
    text-align: center;
}

.center_part h1, .boxes p{
    color: #1f2937;
}

.boxes div {
    width: 167px;
}

.quote_space {
    background-color: #e5e7eb;
    padding: 30px 400px;
}

.quote {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    text-align: left;
    font-weight: 300;
    padding: 0px 75px;
    margin-top: 50px;
}

.quote_space .author {
    font-size: 24px;
    text-align: right;
    font-weight: bold;
}

/* END OF MIDDLE PART */

/* START LOWER PART */


.lower_part .sign_up_banner {
    background-color: #3882f6;
    padding: 50px 100px;
    margin: 60px 401px;
    display: flex;
    border-radius: 7px;
}

.lower_part h2, .lower_part p {
    margin: 0px;
}

.sign_up_banner > div {
    margin-right: auto;
    color: #f9faf8;
}

.lower_part button{
    border: 2px solid white;
}

.lower_part .footer {
    background-color: #1f2937;
    padding: 40px 0px;
    font-size: 18px;
    text-align: center;
    color: #e5e7eb;
    font-weight: 500;

}

/* END OF LOWER PART */